# Compiler files
cache/
out/

# Node (relay)
node_modules/
dist/

# Python (sdk-python)
sdk-python-venv/
__pycache__/
*.egg-info/
.pytest_cache/

# Commonly ignored directories
.logs/
.ignore/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example
